commands: 
  install_dotnet_agent:
    command: |
      sudo curl -o /etc/yum.repos.d/newrelic-dotnet-agent.repo https://download.newrelic.com/dot_net_agent/yum/newrelic-dotnet-agent.repo
      sudo yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-dotnet-agent-repo'
      # this command installs the latest version of the dotnet agent.
      sudo yum install newrelic-dotnet-agent -y
      # to install a specific version, use something like the following:
      # sudo yum install newrelic-dotnet-agent-10.24.0-1.x86_64
option_settings:
  aws:elasticbeanstalk:application:environment:
    CORECLR_ENABLE_PROFILING: '1'
    CORECLR_PROFILER: '{36032161-FFC0-4B61-B559-F6C5D41BAE5A}'
    CORECLR_NEWRELIC_HOME: '/usr/local/newrelic-dotnet-agent'
    CORECLR_PROFILER_PATH: '/usr/local/newrelic-dotnet-agent/libNewRelicProfiler.so'
    NEW_RELIC_LICENSE_KEY: 'YOUR_LICENSE_KEY'
    NEW_RELIC_APP_NAME: 'YOUR_APP_NAME'
