---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-app-dotnet
spec:
  selector:
    matchLabels:
      app: test-app-dotnet
  replicas: 1
  template:
    metadata:
      labels:
        app: test-app-dotnet
        app.newrelic.instrumentation: newrelic-dotnet-agent
    spec:
      containers:
        - name: test-app-dotnet
          image: weatherforecast:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          env:
          # required for the New Relic agent to start
          - name: NEW_RELIC_APP_NAME
            value: k8s-test-app-dotnet
          # Other environment variables can be added here. See https://docs.newrelic.com/docs/agents/net-agent/configuration/net-agent-configuration for more information.
          - name: NEWRELIC_LOG_LEVEL
            value: finest
          - name: NEW_RELIC_LOG_CONSOLE
            value: "1"
          - name: NEW_RELIC_HOST
            value: "staging-collector.newrelic.com"         
---
apiVersion: v1
kind: Service
metadata:
  name: test-app-dotnet-service
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: test-app-dotnet
