packages:  
  msi:
    # install the latest version of both the New Relic infrastructure agent and the .NET agent
    # To install a specific version, update the path to both msi files
    infrastructure: https://download.newrelic.com/infrastructure_agent/windows/newrelic-infra.msi
    dotnet: https://download.newrelic.com/dot_net_agent/latest_release/NewRelicDotNetAgent_x64.msi
commands: 
  01_stop-newrelic-infra:
    command: net stop newrelic-infra
    ignoreErrors: true
  02_start-newrelic-infra:
    command: net start newrelic-infra
    ignoreErrors: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    # Environment variables for the New Relic .NET Agent
    NEW_RELIC_LICENSE_KEY: '(your license key here)'
    NEW_RELIC_APP_NAME: '(your app name here)'
    # Environment variables for the New Relic Infrastructure Agent
    NRIA_LICENSE_KEY: '(your license key here)'
