packages:  
  msi:
    # install the latest version of the New Relic .NET agent
    # To install a specific version, update the path to the msi file
    dotnet: https://download.newrelic.com/dot_net_agent/latest_release/NewRelicDotNetAgent_x64.msi
option_settings:
  aws:elasticbeanstalk:application:environment:
    # Environment variables for the New Relic .NET Agent
    NEW_RELIC_LICENSE_KEY: 'YOUR_LICENSE_KEY'
    NEW_RELIC_APP_NAME: 'YOUR_APP_NAME'
